@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=VT323&display=swap');

.container {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: 'center';
  align-items: 'center';
  position: relative;
  margin-left: 16px;

  text-align: center;
  font-size: 26px;
  font-family: 'VT323', monospace;
  color: white;
  -webkit-text-stroke: 0.5px black;
  text-shadow:2px 0 0 black,0 2px 0 black,-2px 0 0 black,0 -2px 0 black;
}

.label {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  padding: 2px;
  border: 2px dashed white;
  bottom: 0;
  left: 8px;
  right: 8px;
  width: calc(100% -16px);
}
@media (max-width: 600px) {
  .label {
    font-size: 22px;
    text-shadow: none;
    -webkit-text-stroke: 0%;
    color: black;
  }
}

@media (max-width: 540px) {
  .label {
    font-size: 18px;
    text-shadow: none;
    -webkit-text-stroke: 0%;
    color: black;
  }
}

@media (max-width: 470px) {
  .label {
    font-size: 16px;
    text-shadow: none;
    -webkit-text-stroke: 0%;
    color: black;
  }
}

@media (max-width: 400px) {
  .label {
    font-size: 14px;
    text-shadow: none;
    -webkit-text-stroke: 0%;
    color: black;
  }
}

.block {
  position: absolute;
  justify-content: center;
  align-items: center;
  display: flex;
  padding: 4px;
  
  bottom: 16px;
  left: 0;
  right: 0;
  top: 0;
  /* width: calc(100% -16px); */
  
}

.block img {
  width: 50%;
  height: 50%;
  object-fit: contain;
  margin-top: 0;
}

.imgAtive {
  filter: grayscale(0);
  opacity: 1;
  height: 100% !important;
  width: 100% !important;
  object-fit: contain;
  margin-left: 2px;
}

.imgAtive:hover {
  cursor: pointer
}

.imgInative {
  filter: grayscale(1);
  opacity: 1;
  height: 100% !important;
  width: 100% !important;
  object-fit: contain;
  margin-left: 2px;
}

.imgInative:hover {
  cursor: pointer;
}

.imgBlocked {
  filter: grayscale(1);
  opacity: 0.5;
  height: 100% !important;
  width: 100% !important;
  object-fit: contain;
  margin-left: 2px;;
}

.imgBlockedL:hover {
  cursor: not-allowed;
}

.missaoTitle{
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  display: flex;
  align-items: center;
  
  color: #0645AD;
}