.modalBox{
    background-color: #FFF;
    max-width: 900px;
    min-height: 200px;
    max-height: 80%;
    padding-top: 30px;
    padding-bottom: 30px;
    padding: 24px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    position: relative;
    border-radius: 10px;
    font-family: 'Work Sans';
}

.fechar{
    font-size: 12px;
    color: #222222;
    padding: 24px;
    background-color: transparent;
    border-top-right-radius: 10px;

    display: flex;
    justify-content: right;
    align-items: center;
    position: absolute;
    top: 0px;
    right: 0px;

    margin-top: 0px;
    cursor: pointer;
}

.titulo{
    
    width: 100%;

    margin-top: 24px;
    margin-bottom: 12px;

    font-size: 24px;
    font-weight: 700;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;

    
}

.container {
    overflow: auto;
    width: 100%;
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    flex-wrap: noWrap;

    margin-top: 10px;

}

.conclusao{
    margin-top: 30px;
    gap: 12px;
    width: 100%;
    display: inline-flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: nowrap;
}