.modalBox{
    background-color: #FFF;
    width: 800px;
    min-height: 400px;
    max-height: 80%;
    padding-top: 20px;
    padding-bottom: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;

    border-radius: 10px;

    font-family: 'Work Sans';

}

.fechar{
    font-size: 12px;
    padding: 8px;
    display: flex;
    justify-content: right;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 0px;
    cursor: default;
    margin-top: 10px;
    margin-right: 10px;
}

.titulo{
    width: 100%;
    margin-top: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 24px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 130%;
    text-align: center;
    letter-spacing: 0.01em;
    color: #222222;
}

.container {
    overflow: auto;
    min-width: 100%;
    max-width: 100%;
    
    
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    flex-wrap: noWrap;

    margin-top: 20px;
    margin-left: 0px;

    border: 1px solid #BDBDBD;
    border-left: 0px;
    padding-bottom: 16px;
}

.containerItem {
    
    width: auto;
    margin-top: 24px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

@media (max-width: 500px) {    
    .containerItem {
        width: 90vw;
    }
}

.avatar{

    font-size: 14px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.descricao{    
    text-align: left;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 110%;
}

.conclusao {

}

.modal_controls_wrapper {
    gap: 23px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    padding: 0 24px;
}

.status_logo {
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.name {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.02em;
    color: #FF4D0D;
}

.sub_title {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
}
