/* DEFAULTS */
@import url('https://fonts.googleapis.com/css?family=Work+Sans:regular,bold,italic&subset=latin,latin-ext');

html,
body {
  padding: 0;
  margin: 0;
  font-family: Work Sans !important;
  font-weight: 500 !important;
}

* {
  box-sizing: border-box;
}

.cardContent {
  height: 100%;
  box-shadow: none !important;
  border: 1px solid #c4c4c4 !important;
  background-color: #fff !important;
  box-sizing: border-box !important;
  border-radius: 4px !important;
  padding: 24px !important;
}

.shimmer {
  background: #f6f7f8;
  background-image: linear-gradient(to right, #f6f7f8 0%, #edeef1 20%, #c4c4c4 40%, #c4c4c4 100%);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: relative;
  color: transparent;

  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-name: placeholderShimmer;
  -webkit-animation-timing-function: linear;
}

@keyframes placeholderShimmer {
  0% {
    background-position: -468px 0;
  }

  100% {
    background-position: 468px 0;
  }
}
