.container {
  padding: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: white;
  font-family: 'Work Sans';
  font-style: normal;

  @media screen and (max-width:570px) {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: white;
  font-family: 'Work Sans';
  font-style: normal;
  }

}

.titleProblem{
  font-weight: 700;
  font-size: 18px;
  word-wrap: break-word;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

.created{
  font-size: 12px;

  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  /* identical to box height, or 117% */

  display: flex;
  align-items: center;
  letter-spacing: -0.02em;

  color: #757575;
}

.description{
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  text-align: left;
  display: flex;
  margin-top: 8px;
  width: 100%;
  color: #FF4D0D;
  margin-bottom: 0px;
}

@media(max-width: 880px){
  .description{
    word-wrap: break-word;
  }
}

.missaoTitle{
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  display: flex;
  align-items: center;
  width: 100%;
  
  color: #0645AD;
}

h2{
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: 16;
  margin-bottom: 0;
}

h3{
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  margin: 0;
  word-wrap: break-word;
}

.contentInput {
  background-color: #F2F2F2; 
  border-width: 1px; 
  border-radius: 4px;
  padding: 24px 16px 24px 16px;
  border: 1px solid #BDBDBD;
}

.contentInput input {
  width: 100% !important;
  margin: 4px;
  padding: 16px;
  border-radius: 8px;
  border: 1px solid #BDBDBD;
  background-color: white;
}

.goal_invite svg {
  max-width: none;
  max-height: none !important;
}
